asgiref==3.6.0
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap5==0.7
Django==4.2.1
django-auth-ldap==4.3.0
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-ldap-sync==0.5.0
django-maintenance-mode==0.18.0
idna==3.4
mysqlclient==2.1.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-fsutil==0.10.0
python-ldap @ file:///C:/users/aruna/Downloads/python_ldap-3.4.0-cp311-cp311-win_amd64.whl#sha256=857fc39de982dd344a9c241864a3cc09c8de6ba790dba5fd02a39c4d947f841d
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
