{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enrolment for Class {{object}}{% endblock title %}
{% block pagestyle %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

    * {

        box-sizing: border-box;
        font-family: Raleway;
        padding: 0;
        margin: 0;
    }

    .custom-container {
        border: 1px solid #eeeeee;
        margin-left: 15em;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        vertical-align: middle;
        width: 75%;
        box-shadow: 10px solid black;
    }

    .enrol-form {
        background-color: #fefefe;
        min-width: 50%;
    }

    form>div {
        margin: 0.75rem 0;
    }

    .form-header {
        background: #009879;
    }

    input,
    select,
    textarea {
        font: 1.25rem / 1.5 sans-serif;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
    }

    input[type="submit"] {
        background-color: rgb(52, 52, 146);
        color: white;
        border: 3px blue solid;
        border-radius: 5px;
        margin: 1rem 0;
    }

    input[type="submit"]:hover {
        background-color: rgba(52, 52, 146, 0.75);

    }

    .errorlist {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .errorlist li::before {
        content: "Error: ";
    }

    .errorlist li {
        color: darkred;
        font-weight: bolder;
    }

    #div_id_student {
        column-count: 2;
        column-gap: 1.5rem;
        list-style: none;
    }
</style>
{% endblock pagestyle %}

{% block contentclass %}container px-3 my-5 {% endblock contentclass %}
{% block content %}
<div class="d-flex pb-1 mb-3 justify-content-between border-bottom border-1 border-dark align-items-center ">
    <h3 class="pt-1">
        <span class="fw-bold">Class</span> | {{object.name}}
    </h3>
    <a class=" text-decoration-none" href="{% url 'school:class_detail' object.course.slug object.slug %}">Back to
        {{object}}</a>
</div>
<div class="card border-primary">
    <div class="card-header text-white text-center form-header">
        <h4 class="my-1">Student Enrolment</h4>
    </div>
    <div class="card-body">
        <div class="enrol-form">
            <form id="enrol-student-form" action="" method="post">
                {% csrf_token %}
                {{form|crispy }}
                <input class="btn border-dark shadow h6" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script>


    // $(document).ready(function () {
    //     const re = /[^(]+\(\d+-([^)]+)\)/i;
    //     $("#enrol-student-form label").each(function (i) {
    //         if ($(this).index() == 1) {
    //             let $current_value = ($(this).text().match(re));
    //             let $next_value = ($(this).parent().next().text().match(re));
    //             let $prev_value = ($(this).parent().prev().text().match(re));

    //             if ($prev_value == null) {
    //                 $(this).parent().prepend("<div class='h6 m-0 mt-3 fw-bolder' id='grouping-header'>" + $current_value[1] + "</div>");
    //             }

    //             if ($next_value != null) {
    //                 if ($current_value[1] != $next_value[1]) {
    //                     $(this).parent().append("<div class='h6 m-0 mt-3 fw-bolder' id='grouping-header'>" + $next_value[1] + "</div>");
    //                 }
    //             }
    //         }
    //     })
    // });

    $(document).ready(function () {
        const regex = /[^(]+\(\d+-(.+)\)/i;
        $("#enrol-student-form label").each(function (i) {
            if (i >= 1) {
                const currentValue = regex.exec($(this).text());
                const nextValue = regex.exec($(this).parent().next().text());
                const prevValue = regex.exec($(this).parent().prev().text());
                if (prevValue === null) {
                    $(this).parent().prepend(
                        `<div class=" h6 m-0 mt-3 fw-bolder grouping-header">
                            <a class="grouping-link text-decoration-none" href="#${currentValue[1]}">
                                ${currentValue[1]}
                                </a>
                            </div>`
                    );
                }
                if (nextValue !== null) {
                    if (currentValue[1] !== nextValue[1]) {
                        $(this).parent().append(
                            `<div class="h6 m-0 mt-3 fw-bolder grouping-header">
                                <a class="grouping-link text-decoration-none" href="#${nextValue[1]}">
                                    ${nextValue[1]}
                                    </a>
                                    </div>`
                        );
                    }
                }
            }
        });

        $(".grouping-link").click(function (e) {
            $current_header = $(this).text().trim();
            $inputs = ($("label:contains('" + $current_header + "')").siblings("input"))
            $all_checked = $inputs.not(":checked").length == 0;
            // $all_checked = $('.abc:checked').length == $('.abc').length

            if ($(this).hasClass("checked-all") || $all_checked == true) {
                $inputs.prop("checked", false)
                $(this).removeClass("checked-all");
            }
            else {
                $inputs.prop("checked", true);
                $(this).addClass("checked-all");
            }
        });



    });
</script>


{% endblock footer %}