{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enrolment for Class {{object}}{% endblock title %}
{% block pagestyle %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

    * {

        box-sizing: border-box;
        font-family: Raleway;
        padding: 0;
        margin: 0;
    }

    .custom-container {
        border: 1px solid #eeeeee;
        margin-left: 15em;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        vertical-align: middle;
        width: 75%;
        box-shadow: 10px solid black;
    }

    .enrol-form {
        background-color: #fefefe;
        min-width: 50%;
    }

    form>div {
        margin: 0.75rem 0;
    }

    .form-header {
        background: #009879;
    }

    input,
    select,
    textarea {
        font: 1.25rem / 1.5 sans-serif;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5rem 0.75rem;
    }

    input[type="submit"] {
        background-color: rgb(52, 52, 146);
        color: white;
        border: 3px blue solid;
        border-radius: 5px;
        margin: 2rem 0;
    }

    input[type="submit"]:hover {
        background-color: rgba(52, 52, 146, 0.75);

    }

    .errorlist {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .errorlist li::before {
        content: "Error: ";
    }

    .errorlist li {
        color: darkred;
        font-weight: bolder;
    }
</style>
{% endblock pagestyle %}

{% block contentclass %}container px-3 my-5 {% endblock contentclass %}
{% block content %}
<div class="d-flex pb-1 mb-3 justify-content-between border-bottom border-1 border-dark align-items-center ">
    <h3 class="pt-1">
        <span class="fw-bold">Class</span> | {{object.name}}
    </h3>
    <a class=" text-decoration-none" href="{% url 'school:class_detail' object.course.slug object.slug %}">Back to
        {{object}}</a>
</div>
<div class="card border-primary">
    <div class="card-header text-white text-center form-header">
        <h4 class="my-1">Student Enrolment</h4>
    </div>
    <div class="card-body">
        <div class="enrol-form">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy }}
                <input class="btn border-dark shadow h6" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}