{% extends "base.html" %}
{% block title %}School Schedules{% endblock title %}
{% block pagestyle %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

    * {

        box-sizing: border-box !important;
        font-family: Raleway;
        padding: 0;
        margin: 0;
    }

    .custom-container {
        border: 1px solid #eeeeee;
        margin-left: 15em;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;
        vertical-align: middle;
        width: 75%;
        box-shadow: 10px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 0 25px 0;
        font-size: 0.9rem;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    td,
    th,
    thead {
        padding: 0.75em 1em;
        text-align: center;
    }

    thead {
        top: 0;
        position: sticky;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    h1 {
        text-align: center;
    }

    tbody>tr:hover {
        color: #009879;
        font-weight: bolder;
        background-color: rgb(250, 250, 78, 0.6);
    }

    td {
        padding: 1rem 3rem 1rem;

    }

    td>a {
        text-decoration: none;
    }
</style>
{% endblock pagestyle %}
{% block contentclass %}container px-3 my-5 {% endblock contentclass %}
{% block content %}

<div class="d-flex align-items-center justify-content-between">
    <h3>List Of School Schedules</h3>
    <h3>
        <a class="btn btn-outline-primary text-decoration-none fw-bold border-primary border-3"
            href="{% url 'school:schedule_add' %}">
            Add School Schedule
        </a>
    </h3>
</div>

<table class="table table-responsive">
    <thead>
        <th>Schedule Name</th>
        <th>Year</th>

    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'school:schedule_detail' object.slug %}">
                    {{object.name}}
                </a>
            </td>
            <td>{{object.start_year}} - {{object.end_year}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}